.scroll-pane{
	-fx-pref-height: 100;
	-fx-pref-width: 300;
	-fx-fit-to-height: true;
	-fx-fit-to-width: true;
}

#content{
	-fx-background-color: radial-gradient(center 50% 50%, radius 100%, green 0%, black 100%);
	-fx-padding: 10 10 10 10;
	-fx-vgap: 10;
	-fx-hgap: 10;
}

#announcer {
	visibility: hidden;
	-fx-background-color: radial-gradient(center 50% 50%, radius 100%, rgba(0,0,0, 0.5), black);
}

#announcer .label{
	-fx-text-fill: white;
}